In [1]:
import pandas as pd
from sklearn import linear_model
import pandas
from sklearn.model_selection import KFold
import numpy as np
import sklearn
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import Ridge
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error,mean_absolute_error

In [2]:
df = pd.read_excel("pm_nasa.xlsx")
df.head(5)

,StationNum,GMT,AQS,LAT,LON,YEAR,MONTH,DAY,MODHR,TAU,...,PM24H,RUCHR,RUCPIX,TMP,RH,WS10m,WS925,HPBL,PRS,VIS
0,10,-6,10730023,33.55,-86.81,2004,1,1,15.83,0.05,...,31.58,16,6,284.78,39.27,1.57,5.51,88.83,1007.87,29.84
1,11,-6,10731005,33.33,-87.00,2004,1,1,15.83,0.08,...,16.00,16,9,285.39,40.36,1.50,5.61,99.22,1010.66,28.52
2,12,-6,10731009,33.46,-87.31,2004,1,1,15.83,0.07,...,11.29,16,4,285.10,41.93,1.45,5.82,99.00,1014.45,27.63
3,13,-6,10731010,33.55,-86.55,2004,1,1,15.83,0.05,...,25.96,16,9,283.36,44.17,1.16,4.99,82.78,1007.52,26.44
4,14,-6,10732003,33.50,-86.92,2004,1,1,15.83,0.05,...,23.29,16,6,284.78,39.27,1.57,5.51,88.83,1007.87,29.84

In [3]:
g = set(df['StationNum'].values)
j = list(g)
df1 = df.sort_values(by=['StationNum'])
j.sort()
x = j[:75]
y = j[75:]
print(len(y))
train_station = df1[df1['StationNum'].isin(x)]
test_station = df1[df1['StationNum'].isin(y)]
train_station

10

,StationNum,GMT,AQS,LAT,LON,YEAR,MONTH,DAY,MODHR,TAU,...,PM24H,RUCHR,RUCPIX,TMP,RH,WS10m,WS925,HPBL,PRS,VIS
0,10,-6,10730023,33.55,-86.81,2004,1,1,15.83,0.05,...,31.58,16,6,284.78,39.27,1.57,5.51,88.83,1007.87,29.84
3182,10,-6,10730023,33.55,-86.81,2004,7,10,16.75,0.09,...,14.67,17,6,305.20,61.90,1.66,2.81,253.83,999.35,16.85
14296,10,-6,10730023,33.55,-86.81,2006,1,12,16.83,0.06,...,26.25,17,6,288.37,71.79,2.87,6.11,406.33,1001.25,14.23
3170,10,-6,10730023,33.55,-86.81,2004,7,9,16.08,0.18,...,16.54,16,6,303.22,68.43,1.64,3.34,153.00,997.53,14.79
5956,10,-6,10730023,33.55,-86.81,2004,12,18,15.83,0.02,...,26.46,16,6,281.50,59.00,0.51,4.21,135.00,998.43,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10594,407,-6,470450004,36.05,-89.38,2005,8,26,17.17,0.49,...,16.25,17,5,305.76,67.18,5.36,9.00,857.20,1004.06,15.47
17581,407,-6,470450004,36.05,-89.38,2006,5,24,16.42,0.47,...,20.83,16,5,302.64,53.94,3.08,6.48,567.40,1007.38,21.05
14364,407,-6,470450004,36.05,-89.38,2006,1,14,16.67,0.07,...,6.79,17,5,275.22,67.79,5.68,13.96,629.00,1014.42,15.49
16335,407,-6,470450004,36.05,-89.38,2006,3,22,17.17,0.17,...,7.29,17,5,276.56,66.86,3.69,7.15,864.00,1016.82,15.51
10273,407,-6,470450004,36.05,-89.38,2005,8,7,16.67,0.87,...,11.29,17,5,302.84,69.01,0.65,3.95,671.00,1007.40,14.51

In [4]:
winter_train = train_station[train_station['MONTH'].isin([12,1,2])]
summer_train = train_station[train_station['MONTH'].isin([6,7,8])]

winter_test = test_station[test_station['MONTH'].isin([12,1,2])]
summer_test = test_station[test_station['MONTH'].isin([6,7,8])]

x_win = pd.DataFrame(winter_train[['TAU', 'RH','TMP','HPBL','WS10m','CLOUD']])
x_sum = pd.DataFrame(summer_train[['TAU', 'RH','TMP','HPBL','WS10m','CLOUD']])
y_sum = pd.DataFrame(summer_train['PM24H'])
y_win = pd.DataFrame(winter_train['PM24H'])

x_win_test = pd.DataFrame(winter_test[['TAU', 'RH','TMP','HPBL','WS10m','CLOUD']])
x_sum_test = pd.DataFrame(summer_test[['TAU', 'RH','TMP','HPBL','WS10m','CLOUD']])
y_sum_test = pd.DataFrame(summer_test['PM24H'])
y_win_test = pd.DataFrame(winter_test['PM24H'])

In [16]:
def cross_win_sum(X,y,x_cross,y_cross,alpha):
    X_train, X_valid, y_train, y_valid = sklearn.model_selection.train_test_split(X, y, test_size = 0.2, random_state = 0)
    regression_model = Ridge(alpha)
    regression_model.fit(X_train, y_train)
    predictions_on_winter = sklearn.model_selection.cross_val_predict(regression_model,X_valid,y_valid,cv=5)
    train_error = regression_model.score(X_train, y_train)
    valid_error = regression_model.score(X_valid,y_valid)
    print("------Training-------\nTrained on: ",X_train.shape," samples |","Train Score(R2 score):",train_error)
    print("Validated on:",X_valid.shape,"samples |","Validation Score(R2 score):",valid_error)
    r2=mae=mse=rmse = 0
    r2 = pearsonr(y_valid.values.flatten(),predictions_on_winter.flatten())[0]
    mae = mean_absolute_error(y_valid,predictions_on_winter)
    mse = mean_squared_error(y_valid, predictions_on_winter)
    rmse = np.sqrt(mse)
    print("R-value: ",r2,"RMSE: ",rmse,"MAE: ",mae)
    regression_model.fit(X_train, y_train)
    predictions_on_summer = sklearn.model_selection.cross_val_predict(regression_model,x_cross,y_cross,cv=5)
    test_error = regression_model.score(x_cross, y_cross)
    print("\n---------Testing-------------\nScore(R2 score):",test_error)
    r2 = pearsonr(y_cross.values.flatten(),predictions_on_summer.flatten())[0]
    mae = mean_absolute_error(y_cross,predictions_on_summer)
    mse = mean_squared_error(y_cross,predictions_on_summer)
    rmse = np.sqrt(mse)
    print("R-value: ",r2,"RMSE: ",rmse,"MAE: ",mae)

In [17]:
print("Trained on Winter - Validated on Winter - Tested on Summer")
cross_win_sum(x_win,y_win,x_sum_test,y_sum_test,0.001)

print("\n\nTrained on Winter - Validated on Winter - Tested on Winter")
cross_win_sum(x_win,y_win,x_win_test,y_win_test,0.001)

print("\n\nTrained on Summer - Validated on Summer - Tested on Summer")
cross_win_sum(x_sum,y_sum,x_sum_test,y_sum_test,0.001)

print("\n\nTrained on Summer - Validated on Summer - Tested on Winter")
cross_win_sum(x_sum,y_sum,x_win_test,y_win_test,0.0001)

Trained on Winter - Validated on Winter - Tested on Summer
------Training-------
Trained on:  (5033, 6)  samples | Train Score(R2 score): 0.19608024200978147
Validated on: (1259, 6) samples | Validation Score(R2 score): 0.1727856324434549
R-value:  0.4053767408111669 RMSE:  4.7086114087180935 MAE:  3.3561711511343715

---------Testing-------------
Score(R2 score): -0.08988994608942757
R-value:  0.5561581491192614 RMSE:  7.3917174399824885 MAE:  5.682402462118432


Trained on Winter - Validated on Winter - Tested on Winter
------Training-------
Trained on:  (5033, 6)  samples | Train Score(R2 score): 0.19608024200978147
Validated on: (1259, 6) samples | Validation Score(R2 score): 0.1727856324434549
R-value:  0.4053767408111669 RMSE:  4.7086114087180935 MAE:  3.3561711511343715

---------Testing-------------
Score(R2 score): 0.2381738357181744
R-value:  0.4394396628123204 RMSE:  4.070727601549453 MAE:  3.13114802080933


Trained on Summer - Validated on Summer - Tested on Summer
------Training-------
Trained on:  (2947, 6)  samples | Train Score(R2 score): 0.31929214414779283
Validated on: (737, 6) samples | Validation Score(R2 score): 0.29267836905324796
R-value:  0.5242315018729878 RMSE:  8.036461672689377 MAE:  5.9784058636778035

---------Testing-------------
Score(R2 score): 0.29460298453437794
R-value:  0.5561581491192614 RMSE:  7.3917174399824885 MAE:  5.682402462118432


Trained on Summer - Validated on Summer - Tested on Winter
------Training-------
Trained on:  (2947, 6)  samples | Train Score(R2 score): 0.319292144159828
Validated on: (737, 6) samples | Validation Score(R2 score): 0.2926784493236303
R-value:  0.5242315865991307 RMSE:  8.036464536045495 MAE:  5.9783986598959435

---------Testing-------------
Score(R2 score): -2.174404177565155
R-value:  0.43943909856134833 RMSE:  4.070732515074168 MAE:  3.131145792407375